@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.typebox::selection {
  background-color: transparent;
}

.vscode-font {
  font-family: 'Tahoma', 'Consolas',   monospace;
}

.apexcharts-tooltip {
  background: rgba(0, 0, 0, .9) !important; /* Your desired background color */
  box-shadow: none !important; /* Removes the shadow */
}