@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1f2428;
  /* background-image: radial-gradient(#2c3339 1.5px, transparent 0);
  background-size: 21px 21px;
  background-position: -23px -23px; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 1.25rem;
  font-weight: 500;
}

.typebox::selection {
  background-color: transparent;
}

.type-box {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.apexcharts-tooltip {
  background: rgba(0, 0, 0, .9) !important; /* Your desired background color */
  box-shadow: none !important; /* Removes the shadow */
}

.center-column {
  width: 100%;               /* Takes full width of the container */
  max-width: 800px;          /* Maximum width in pixels */
  margin: 0 auto;            /* Centers the div in the container */
  box-sizing: border-box;    /* Includes padding and border in the width */
}

/* Hide the original checkbox */
input[type="checkbox"] {
  display: none;
}

/* Create a custom box */
label .checkmark {
  position: relative;
  height: 14px;
  width: 14px;
  background-color: #555555;
  display: inline-block;
  vertical-align: middle;
  border-radius: 20px;
}

/* On checking the checkbox, add a checkmark */
input[type="checkbox"]:checked + .checkmark {
  background-color: white;
}

label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* input[type="checkbox"]:checked + .checkmark:after {
  display: block;
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
} */

/* Adding transitions for smooth visual effects */
label .checkmark {
  transition: background-color 0.2s;
}
